<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a89b6160-a40b-41e8-8cfd-0b298c01ef7a/resourcegroups/DefaultResourceGroup-uaenorth/providers/Microsoft.Web/sites/OrderManagementApi20250808032247</ResourceId>
    <ResourceGroup>DefaultResourceGroup-uaenorth</ResourceGroup>
    <ApiResourceId>/subscriptions/a89b6160-a40b-41e8-8cfd-0b298c01ef7a/resourceGroups/exquitech-resource-group/providers/Microsoft.ApiManagement/service/OrderManagementApiapi/apis/OrderManagementApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ordermanagementapi20250808032247-ega4ekd9a9fvfdaq.uaenorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>6efdd2cd-ee76-4773-ba1e-e358a0f59ade</ProjectGuid>
    <MSDeployServiceURL>ordermanagementapi20250808032247-ega4ekd9a9fvfdaq.scm.uaenorth-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>OrderManagementApi20250808032247</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>false</SelfContained>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>