<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a89b6160-a40b-41e8-8cfd-0b298c01ef7a/resourceGroups/exquitech-resource-group/providers/Microsoft.Web/sites/OrderManagementAPI</ResourceId>
    <ResourceGroup>exquitech-resource-group</ResourceGroup>
    <ApiResourceId>/subscriptions/a89b6160-a40b-41e8-8cfd-0b298c01ef7a/resourceGroups/exquitech-resource-group/providers/Microsoft.ApiManagement/service/OrderManagementApiapi/apis/OrderManagementApi</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://ordermanagementapi-f4bagghpddcpache.uaenorth-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ProjectGuid>6efdd2cd-ee76-4773-ba1e-e358a0f59ade</ProjectGuid>
    <PublishUrl>https://ordermanagementapi-f4bagghpddcpache.scm.uaenorth-01.azurewebsites.net/</PublishUrl>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>